:root {
	--bg: linear-gradient(180deg, #4A6FA5, #1E3249);
	--text: #f5f5f5;
	--link: #0077cc;
	--link-hover: #66b3ff;
	--border: #fafafa;
	--box-bg: rgba(0,0,0,0.1);
	--box-border: #fafafa;
	--shadow: rgba(0,0,0,.5);
	
	--radius: 10px;
	--space-sm: 0.5rem;
	--space: 1rem;
	--space-lg: 1.5rem;
}
/* General Style Formatting */
body {
    font-family: "Varela Round", sans-serif;
    max-width: 1500;
    margin: 0 auto;
    background: var(--bg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text);
}
a {
    color: var(--link);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: var(--link-hover);
}

/*centers items on the page*/
.center-line {
    text-align: center;
    margin: 20px 0;
}

/*creates the back to home button on top left of each page*/
header nav {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}
header nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--text);
    padding: 5px 10px;
    border-radius: var(--radius);
}
header nav a:hover {
    text-decoration: underline;
}

.container {
	max-width: 1500px;
	margin: 0 auto;
	position: relative;
	padding: 5px;
	z-index: 1;
	align-items: center;
}
.menu {
	display: grid;
	margin: 0 auto;
	max-width: 1000px;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	align-items: center;
	border: 1px solid var(--border);
	border-radius: 5px;
	padding: var(--space);
	justify-items: center;
} 
.menu-box {
	display: flex;
	justify-content: center;
	text-align: center;
	background: var(--box-bg);
	border: 1px solid var(--box-border);
	border-radius: var(--radius);
	padding: 10px;
	box-shadow: 0 5px 15px 0 var(--shadow);
	align-items: center;
	width: 300px;
	height: 75px;
}
.menu-box-blank {
	display: inline-block;
	background: var(--bg);
	border: none;
	padding: 10px;
	box-shadow: none;
}
.menu-box:hover {
	transform: translateY(-4px);
	transition: transform .2s ease, box-shadow .2s ease;
}
.menu-title {
	position: relative;
	margin: .25rem 0 .25rem;
	text-align: center;
	font-weight: 700;
	text-decoration: underline;
	padding: .5rem 0 0 0;
	text-wrap: balance;
}
.menu-title .emoji{
	position: absolute;
	top: 25%;
	transform: translateY(-50%);
	font-size: 1rem;
	line-height: 1;
	pointer-events: none;
}
.menu-title .left {
	left: 1rem;
}
.menu-title .right {
	right: 1rem;
}
.menu-box p {
	font-weight: 500;
	margin: .5rem .25rem .25rem .25rem;
}
.brewery {
	font-weight: 600;
	margin: 0 .5rem;
	color: #C87941;
}
.menu-box.brewery {
	background-color: #FFB117;
	color: #fff5e2;
}
.brewery:hover {
	color: #C97C00;
}
.farm {
	font-weight: 600;
	margin: 0 .5rem;
	color: #3FA34D;
}
.menu-box.farm {
	background-color: #4CAF50;
	color: #ffffff;
}
.farm:hover {
	color: #708238;
	background-color: #3FA346;
}
.menu-box .emoji {
	font-size: 1.5rem;
}
@media (max-width: 600px){
	.menu-title {
		padding: 0;
	}
	.menu-title .emoji {
		display: none;
	}
}
