body {
font-family: Arial, sans-serif;
max-width: 700px;
margin: auto;
padding: 2rem;
background: #5c0202;
color: #c4d7f2;
}

a {
color: #0077cc;
text-decoration: none;
}

a:hover {
text-decoration: underline;

}




